<%- include('./partials/header.ejs')%>
<form action="/login" method="POST">
  <div class="container mt-5">
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          type="email"
          class="form-control-plaintext"
          id="staticEmail"
          placeholder="Email"
          value=""
          name="email"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label"
        >Password</label
      >
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          name="password"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
<%- include('./partials/footer.ejs')%>
